.jumbotron{
    background:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),     url("./images/jumbotron.jpg") no-repeat center center !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
      
}

.btn-primary, .badge-primary{
    background-color: #006bf8;
}

.text-white {
    color: #ffffff;
}

.bg-danger {
    background-color: #9B0F1D !important;
}

.__react_component_tooltip.type-error {
    background-color: #9B0F1D !important;
}

span .tooltips, ReactTooltip .tooltips {
    cursor:pointer;
}